<div class="container m-4 ">
    <div class="d-flex flex-row-reverse m-1">
    <button (click)="createUser()" pInputText pTooltip="Crear nuevo usuario" tooltipPosition="bottom" pButton pRipple class="p-button-success "><i class="pi pi-plus pointer" style="font-size: 1rem"></i>
    </button>
    </div>
    <p-table [value]="items">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Accion</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.nombre }}</td>
                <td>{{ product.apellido }}</td>
                <td>{{ product.correo }}</td>
                <td>
                    <i (click)="updateUser(product)" class="pi pi-user-edit m-1 pointer" pInputText pTooltip="Editar usuario" tooltipPosition="bottom" style="font-size: 1rem"></i>
                    <i (click)="openModal(product.id)"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="pi pi-trash pointer" pInputText pTooltip="Eliminar usuario" tooltipPosition="bottom" style="font-size: 1rem"></i>

                </td>
            </tr>
        </ng-template>
    </p-table>

    <div class="card flex justify-content-center">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="page" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 20]"></p-paginator>
    </div>
    </div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Eliminar usuario.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Esta seguro que desea eliminar este usuario?
        </div>
        <div class="modal-footer">
          <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button  data-bs-dismiss="modal" (click)="deleteUser()" type="button" class="btn btn-primary">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

