
<form  class="ui-dialog" [formGroup]="form" (ngSubmit)="submit()">
        <div class="p-field row mx-2">
            <label class="col-8"  for="nombre">Nombre</label>
            <input class="col-8" id="nombre" type="text" pInputText formControlName="nombre"/>
            <small class="text-danger"  *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched">*El nombre es obligatorio.</small>
        </div>

        <div class="p-field row mx-2 ">
            <label class="col-8" for="apellido">Apellido</label>
            <input class="col-8" id="apellido" type="text" aria-describedby="lastname-help" pInputText formControlName="apellido"/>
            <small class="text-danger" *ngIf="form.get('apellido')?.invalid && form.get('apellido')?.touched">*El apellido es obligatorio.</small>
            
        </div>

        <div class="p-field row mx-2 ">
            <label class="col-8" for="correo">Correo</label>
            <input class="col-8" id="correo" type="text" aria-describedby="email-help" pInputText formControlName="correo"/>
            <div *ngIf="form.get('correo')?.invalid && form.get('correo')?.touched">
                <small class="text-danger" *ngIf="form.get('correo')?.hasError('required')">*El correo es obligatorio.</small>
                <small class="text-danger" *ngIf="form.get('correo')?.hasError('email')">*Debe ingresar un correo electrónico válido.</small>
              </div>
        </div>
        <div class=" m-3">
            <button class="p-button-raised p-button-text" styleClass="p-button-sm" pButton pRipple type="submit" label="Guardar"  [disabled]="form.invalid"></button>
            <button class="p-button-raised p-button-text" styleClass="p-button-sm" pButton pRipple type="submit" label="Cancelar" (click)=" selectCar()" class="p-button-danger"></button>
        </div>
</form>

    
