
<nav class="navbar text-white navbar-expand-lg navbar-light navbar-custom">
  <div class="container-fluid ">
    <div class="d-flex justify-content-start">
      <img src="../../../assets/img/favicon.png" height="40" class="mr-2" />
      <a class="navbar-brand mr-2" href="#">Bienvenido</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/table">Tabla</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
