<div class="container-fluid d-flex justify-content-center align-items-center ms-1 m-3 ">
    <div class="row">

        <div class="card text-center ">
            <div class="container">
                <img src="./../../../assets/img/Angular_full_color_logo.svg.png" width="150px" height="150px" alt="">
            </div>
            <div class="card-header">
              Bienvenido
            </div>
            <div class="card-body">
              <h5 class="card-title">CRUD EN ANGULAR 16</h5>
              <a href="/table" class="btn btn-primary">Haz click aquí</a>
            </div>
            <div class="card-footer text-muted">
                Gestión de datos
            </div>
          </div>
    </div>
    
</div>
