<footer class=" py-4 mt-auto footer p-3 ">
    <div class="container">
      <div class="row mr-3">
        <div class="col-md-4">
          <ul class="list-unstyled">
            <li><a >Inicio</a></li>
            <li><a >Sobre Nosotros</a></li>
          </ul>
        </div>
        <div class=" col-md-4 text-center mt-3">
          <p>&copy; 2024 Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-md-4 mt-3">
          <p>Email: contacto@ejemplo.com</p>
        </div>
      </div>
    </div>
  </footer>
  