<footer class="bg-dark text-white py-4 mt-auto">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Lorem, ipsum.</h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet itaque eaque aspernatur optio aperiam expedita totam!</p>
        </div>
        <div class="col-md-4">
          <h5>Enlaces Rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Inicio</a></li>
            <li><a href="#" class="text-white">Servicios</a></li>
            <li><a href="#" class="text-white">Contacto</a></li>
            <li><a href="#" class="text-white">Sobre Nosotros</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contacto</h5>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
          <p>Teléfono: +123 456 7890</p>
          <p>Email: contacto@ejemplo.com</p>
        </div>
      </div>
      <div class="text-center mt-3">
        <p>&copy; 2024 Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </footer>
  